.screen
{
    -fx-background-color: #000000;
}

.header, .info, .score, .ball, .paddle
{
    -fx-fill: white;
    
}

.header, .info, .score
{
    -fx-font-family: 'Arcade Normal';
    -fx-text-origin: top;
}

.header
{
    -fx-font-size: 48px;
}

.info
{
    -fx-font-size: 14px;
    -fx-text-alignment: center;
}

.score
{
    -fx-font-size: 32px;
}
